# .idea/
.vscode/
.trae/
**/cmake_install.cmake
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/CTestTestfile.cmake
**/Testing/
**/compile_commands.json
cmake-build-debug/
KrtC/bin/
KrtC/obj/
KrtC/build/
ArkLink/bin/
ArkLink/obj/
ArkLink/build/
lsp/bin/
lsp/obj/
lsp/build/
*.o
*.a
*.so
*.dll
*.dylib
*.exe
*.out
*.pdb
*.ilk
KrtC/version.json
*.log
*.tmp